* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

body{
  background-color: whitesmoke;
}

body >header{
  background: linear-gradient(135deg, #afac41, #15800f, #afac41); /* Gradiente diagonal com três cores */
  color: white;
  padding: 16px 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

body >header{
  margin-bottom: 20px;
}

header .container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  }

  header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
    font-size: 18px;
  }

  header nav ul {
    display: flex;
    justify-content: flex-end; /* Alinha os itens para o final do container */
    list-style: none; /* Remove marcadores de lista */
    padding: 0;
    margin-right: 16px;
  }
  
  header li a{
    color: white;
  }

  .container {
    width: 100%; /* Ocupar toda a largura */
    max-width: 1366px; /* Limitar a largura máxima */
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: auto; /* Remover qualquer padding */
    box-sizing: border-box; /* Incluir borda e preenchimento no tamanho total */
    margin-bottom: 20px;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .articles article img {
   /* height: 100px; */
   width: 100%;
  }

  .articles article {
    width: 30%; /* Adaptação para tela grande */
  }
  
  section{
    padding: 16px 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  
section h2{
  margin-bottom: 16px;
}

section h2, .articles article{
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

.articles article h3{
  margin-top: 8px;
  margin-bottom: 8px;
}

.articles article a{
  background-color: blue;
  color: white;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}

.articles article a:hover{
  text-decoration: underline;
}

.articles article P, .articles article A{
  font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
  font-size: 23px;
}

section h2{
  font-size: 32px;
}


#sports{
background: linear-gradient(135deg, #afac41, #15800f, #e4f374); /* Gradiente diagonal com três cores */
color: white;
border-radius: 2%;
padding-left: 6px;
padding-right: 6px;
}

#sports .articles article a{
  background: linear-gradient(135deg, #afac41, #15800f, #e4f374); /* Gradiente diagonal com três cores */
  border-radius: 2%;
  color: white;
}

#sports{
  margin-bottom: 20px; /* Adiciona um espaço de 20 pixels na parte inferior de cada seção */
}

#economy{
  background: linear-gradient(135deg, #62daff, #2b539e, #e7c24b); /* Gradiente diagonal com três cores */
  color: white;
  border-radius: 2%;
  padding-left: 6px;
  padding-right: 6px;
  }
  
  #economy .articles article a{
    background: linear-gradient(135deg, #62daff, #2b539e, #e7c24b); /* Gradiente diagonal com três cores */
    border-radius: 2%;
    color: white;
  }

  #economy, #technology {
    margin-bottom: 20px; /* Adiciona um espaço de 20 pixels na parte inferior de cada seção */
  }

  #technology{
    background: linear-gradient(135deg, #7d1bae, #500178, #1b8dae); /* Gradiente diagonal com três cores */
    color: white;
    border-radius: 2%;
    padding-left: 6px;
    padding-right: 6px;
    }
    
    #technology .articles article a{
      background: linear-gradient(135deg, #7d1bae, #500178, #1b84ae); /* Gradiente diagonal com três cores */
      border-radius: 2%;
      color: white;
    }

    #entertainment{
      background: linear-gradient(135deg, #bf46bb, #3591d7, #61d869); /* Gradiente diagonal com três cores */
      color: white;
      border-radius: 2%;
      padding-left: 6px;
      padding-right: 6px;
      }
      
      #entertainment .articles article a{
        background: linear-gradient(135deg, #bf46bb, #3591d7, #61d869); /* Gradiente diagonal com três cores */
        border-radius: 2%;
        color: white;
      }
